@using Store.Application.Services.Carts;
@model CartDto
@{
    Layout = null;
  
}

<!--=====================================
                  CART SIDEBAR PART START
        =======================================-->

    <div class="cart-header">
        <div class="cart-total">
            <i class="fas fa-shopping-basket"></i>        
            <span>
                کل محصولات(@Model.ProductCount)
            </span>
        </div>
        <button class="cart-close"><i class="icofont-close"></i></button>
    </div>
    <ul class="cart-list">
        @if(Model.CartItems!=null)
        {
            @foreach (var item in Model.CartItems)
            {
                <li class="cart-item">
                    <div class="cart-media">
                        <a href="#"><img src="@item.ImageSrc" alt="@item.ProductName"></a>
                        <button onclick="RemoveFromCard('@item.ProductId')" class="cart-delete"><i class="far fa-trash-alt"></i></button>
                    </div>
                    <div class="cart-info-group">
                        <div class="cart-info">
                            <h6><a href="product-single.html">@item.ProductName</a></h6>
                            <p>قیمت واحد : @item.Price.ToString("n0")@Model.Unit</p>
                        </div>
                        <div class="cart-action-group">
                            <div class="product-action">
                                <button onclick="LowOff('@item.Id')" class="action-minus" title="کم کردن"><i class="icofont-minus"></i></button>
                                <input class="action-input" title="تعداد مورد نیاز" type="text" name="quantity" value="@item.Count">
                                <button onclick="Add('@item.Id')" class="action-plus" title="زیاد کردن"><i class="icofont-plus"></i></button>
                            </div>
                            <h6>@item.CountPerPrice@Model.Unit</h6>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <div class="cart-footer">
        <button class="coupon-btn">آیا کد تخفیف دارید؟</button>
        <form class="coupon-form">
            <input type="text" placeholder="کد تخفیف خود را وارد کنید">
            <button type="submit"><span>ثبت</span></button>
        </form>
        <a class="cart-checkout-btn" href="Cart">
            <span class="checkout-label">برو به تسویه حساب</span>
            <span class="checkout-price">@Model.SumAmount @Model.Unit</span>
        </a>
    </div>

<!--=====================================
            CART SIDEBAR PART END
=======================================-->

