@addTagHelper *, LazZiya.TagHelpers
@using Store.Application.Services.ProductsSite.Queries.GetProductsForSite
@using Store.Common.Constant.Settings;
@model ResultProductsForSiteDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["page"], out pageNumber);
    int.TryParse(Context.Request.Query["pageSize"], out pageSize);
}
<body>
    <!--=====================================
                 BANNER PART START
     =======================================-->
    <section class="inner-section single-banner" style="background: url(/SiteTemplate/assets/images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>محصولات</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">فروشگاه 4 ستون</li>
            </ol>
        </div>
    </section>
    <!--=====================================
                BANNER PART END
    =======================================-->
    <section class="inner-section shop-part">
        <div class="container">
            <div class="row content-reverse">
                <div class="col-lg-3">
                    <div class="shop-widget-promo">
                        <a href="#"><img src="/SiteTemplate/assets/images/promo/shop/01.jpg" alt="promo"></a>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">فیلتر براساس قیمت</h6>
                        <form>
                            <div class="shop-widget-group">
                                <input type="text" placeholder="کم - 00">
                                <input type="text" placeholder="بیشتر - 50">
                            </div>
                            <button class="shop-widget-btn">
                                <i class="fas fa-search"></i>
                                <span>اعمال</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">فیلتر براساس امتیاز</h6>
                        <form>
                            <ul class="shop-widget-list">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="feat1">
                                        <label for="feat1">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number">(13)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="feat2">
                                        <label for="feat2">
                                           
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number">(28)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="feat3">
                                        <label for="feat3">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number">(35)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="feat4">
                                        <label for="feat4">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number">(47)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="feat5">
                                        <label for="feat5">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </label>
                                    </div>
                                    <span class="shop-widget-number">(59)</span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>پاک کردن فیلتر</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">فیلتر براساس تگ</h6>
                        <form>
                            <ul class="shop-widget-list">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="tag1">
                                        <label for="tag1">جدیدترین ها</label>
                                    </div>
                                    <span class="shop-widget-number">(13)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="tag2">
                                        <label for="tag2">فروش</label>
                                    </div>
                                    <span class="shop-widget-number">(28)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="tag3">
                                        <label for="tag3">امتیاز</label>
                                    </div>
                                    <span class="shop-widget-number">(35)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="tag4">
                                        <label for="tag4">ویژه ها</label>
                                    </div>
                                    <span class="shop-widget-number">(47)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="tag5">
                                        <label for="tag5">تخفیفی</label>
                                    </div>
                                    <span class="shop-widget-number">(59)</span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>پاک کردن فیلتر</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">فیلتر براساس برند</h6>
                        <form>
                            <input class="shop-widget-search" type="text" placeholder="جستجو ...">
                            <ul class="shop-widget-list shop-widget-scroll">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand1">
                                        <label for="brand1">ماری گولد</label>
                                    </div>
                                    <span class="shop-widget-number">(13)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand2">
                                        <label for="brand2">تردر</label>
                                    </div>
                                    <span class="shop-widget-number">(28)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand3">
                                        <label for="brand3">کی یا</label>
                                    </div>
                                    <span class="shop-widget-number">(35)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand4">
                                        <label for="brand4">دایموند</label>
                                    </div>
                                    <span class="shop-widget-number">(47)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand5">
                                        <label for="brand5">الیاس</label>
                                    </div>
                                    <span class="shop-widget-number">(59)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand6">
                                        <label for="brand6">فرمنت</label>
                                    </div>
                                    <span class="shop-widget-number">(64)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand7">
                                        <label for="brand7">اواکودا</label>
                                    </div>
                                    <span class="shop-widget-number">(77)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="brand8">
                                        <label for="brand8">بارکولاس</label>
                                    </div>
                                    <span class="shop-widget-number">(85)</span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>پاک کردن فیلتر</span>
                            </button>
                        </form>
                    </div>
                    <div class="shop-widget">
                        <h6 class="shop-widget-title">فیلتر براساس دسته بندی</h6>
                        <form>
                            <input class="shop-widget-search" type="text" placeholder="جستجو ...">
                            <ul class="shop-widget-list shop-widget-scroll">
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate1">
                                        <label for="cate1">سبزیجات</label>
                                    </div>
                                    <span class="shop-widget-number">(13)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate2">
                                        <label for="cate2">خواربار</label>
                                    </div>
                                    <span class="shop-widget-number">(28)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate3">
                                        <label for="cate3">میوه ها</label>
                                    </div>
                                    <span class="shop-widget-number">(35)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate4">
                                        <label for="cate4">لبنیات</label>
                                    </div>
                                    <span class="shop-widget-number">(47)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate5">
                                        <label for="cate5">دریایی</label>
                                    </div>
                                    <span class="shop-widget-number">(59)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate6">
                                        <label for="cate6">رژیمی</label>
                                    </div>
                                    <span class="shop-widget-number">(64)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate7">
                                        <label for="cate7">خشک</label>
                                    </div>
                                    <span class="shop-widget-number">(77)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate8">
                                        <label for="cate8">فست فود</label>
                                    </div>
                                    <span class="shop-widget-number">(85)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate9">
                                        <label for="cate9">نوشیدنی</label>
                                    </div>
                                    <span class="shop-widget-number">(92)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate10">
                                        <label for="cate10">قهوه</label>
                                    </div>
                                    <span class="shop-widget-number">(21)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate11">
                                        <label for="cate11">پروتئین</label>
                                    </div>
                                    <span class="shop-widget-number">(14)</span>
                                </li>
                                <li>
                                    <div class="shop-widget-content">
                                        <input type="checkbox" id="cate12">
                                        <label for="cate12">ماهی</label>
                                    </div>
                                    <span class="shop-widget-number">(56)</span>
                                </li>
                            </ul>
                            <button class="shop-widget-btn">
                                <i class="far fa-trash-alt"></i>
                                <span>پاک کردن فیلتر</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="top-filter">
                                <div class="filter-show">
                                    <label class="filter-label">نمایش :</label>
                                    <select class="form-select filter-select">
                                        <option value="1">12</option>
                                        <option value="2">24</option>
                                        <option value="3">36</option>
                                    </select>
                                </div>
                                <div class="filter-short">
                                    <label class="filter-label">مرتب براساس :</label>
                                    <select class="form-select filter-select" onchange="sendParameter(this.value)">
                                        <option value="0" >بدون انتخاب</option>
                                        <option value="1" >پربازدیدترین</option>
                                        <option value="2" >پرفروشترین</option>
                                        <option value="3" >محبوب‌ترین</option>
                                        <option value="4" >جدیدترین</option>
                                        <option value="5" >ارزان‌ترین</option>
                                        <option value="6" >گران‌ترین</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <div class="product-label">
                                            @if(item.NewProduct)
                                            {
                                             <label class="label-text new">جدید</label>
                                            }
                                            @if(item.Discount>0)
                                            {
                                           <label dir="ltr" class="details-label off">@item.Discount%</label>
                                            }
                                        </div>
                                        <button class="product-wish wish">
                                            <i class="fas fa-heart"></i>
                                        </button>
                                        <a href="~/products/detail/@item.Id" class="product-image">
                                            <img src="@item.Image" alt="product">
                                        </a>
                                        <div class="product-widget">
                                            <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                            <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                            <a href="javascript:;" title="Product View" class="fas fa-eye show-detail-modal" data-itemid="@item.Id"></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            @for (int i = 1; i <= item.Star; i++)
                                            {
                                                <i class="active icofont-star"></i>
                                            }
                                            @for (int i = 1; i <=(5-item.Star); i++)
                                            {
                                                <i class="icofont-star"></i>
                                            }
                                        </div>
                                        <h6 class="product-name">
                                            <a href="product-video.html">@item.Title</a>
                                        </h6>
                                        <h6 class="product-price">
                                            @if(item.Price>=item.LastPrice)
                                            {
                                                <span>@item.Price.ToString("n0") @item.Unit<small></small></span>
                                            }
                                            else
                                            {
                                                <span>@item.Price.ToString("n0") @item.Unit<small></small></span>
                                                <del>@item.LastPrice.ToString("n0") @item.Unit</del>
                                            }
                                        </h6>
                                        <button class="product-add" onclick="AddToCart('@item.Id')" title="افزودن به سبد خرید">
                                            <i class="fas fa-shopping-basket"></i>
                                            <span>افزودن</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <paging total-records="@Model.TotalRow"
                                page-no="@pageNumber==0?1:pageNumber"
                                page-size="@pageSize==0?20:pageSize"
                                show-prev-next="true"
                                show-total-pages="false"
                                show-total-records="false"
                                show-page-size-nav="true"
                                show-first-numbered-page="true"
                                show-last-numbered-page="true"
                                query-string-key-page-no="Page"
                                query-string-key-page-size="PageSize"
                                query-string-value="@@(Request.QueryString.Value)"
                                gap-size="2"> 
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <div class="modal fade" id="product-view">
            <div class="modal-dialog"> 
                <div class="modal-content">
                    <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
                    <div class="product-view">
                    <div class="row" id="product-detail-modal">
                    </div>
                </div>
                </div> 
            </div> 
        </div>
</body>
@section Scripts{
 <script>
     //Filter Product
        function sendParameter(value) {
            var searchKey = '@Html.Raw(Context.Request.Query["SearchKey"])'; // استفاده از براکت و تگ
            var ordering = ""; // مقدار ordering بر اساس گزینه انتخاب شده

            if (value === "0") {
                ordering = "NotOrder";
            } else if (value === "1") {
                ordering = "MostVisited";
            } else if (value === "2") {
                ordering = "Bestselling";
            } else if (value === "3") {
                ordering = "MostPopular";
            } else if (value === "4") {
                ordering = "theNewest";
            } else if (value === "5") {
                ordering = "Cheapest";
            } else if (value === "6") {
                ordering = "theMostExpensive";
            }

            var url = "/products/index?Searchkey=" + searchKey + "&ordering=" + ordering;
           location.replace(url);
        }
     //Show Detail Modal
        $(".show-detail-modal").on('click', function () {
            let productId = $(this).attr('data-itemid');
            getProductList(productId);
            //$("#filemanager-body").html(loading);
        })
        //Get Product List
        function getProductList(productId) {
            var postData = {
                productId
            };
            ajaxFunc("GetProductDetail", postData, "POST",
                function (result) {
                    let data=result.data;
                    if (result.isSuccess) {
                        //Stars
                        let stars="";
                        for(let i=1;i<=data.star;i++)
                        {
                            stars += `<i class="active icofont-star"></i>`
                        }
                        for (let i = 1; i <=(5 - data.star); i++) {
                            stars += `<i class="icofont-star"></i>`
                        }
                        //Media
                        let renderImages = "";
                        data.urlImagList.map(item=>{
                            renderImages += `<li><img src="${item.url}" alt="product"></li>`;
                        });
                        //Tags
                        let tags= "";
                        data.tags.map(item => {
                            tags += `<li><a href="#">${item.name}</a></li>`;
                        });
                        //
                        let html = `<div class="col-md-6 col-lg-6">
                                    <div class="view-gallery">
                                        <div class="view-label-group">
                                                  ${((data.newProduct) ?`<label class="view-label new">جدید</label>` : ``)}
                                                  ${((data.discount > 0) ? `<label class="view-label off">%${data.discount}</label>` : ``)}
                                                </div>
                                        <ul class="preview-slider slider-arrow">
                                                   ${renderImages}
                                        </ul>
                                        <ul class="thumb-slider">
                                                    ${renderImages}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="view-details">
                                        <h3 class="view-name">
                                            <a href="product-video.html">${data.name}</a>
                                        </h3>
                                        <div class="view-meta">
                                            <p>کد محصول:<span>${data.codeProduct}</span></p>
                                                    <p>برند:<a href="#">${data.brand}</a></p>
                                        </div>
                                        <div class="view-rating">
                                                    ${stars}
                                        </div>
                                        <h3 class="view-price">
                                            ${((data.price >= data.lastPrice) ? `<span>${data.price} ${data.unit}</span>` : `<del>${data.lastPrice} ${data.unit}</del><span>${data.price} ${data.unit}</span>`)}
                                           
                                        </h3>
                                        <p class="view-desc">${data.description}</p>
                                        <div class="view-list-group">
                                            <label class="view-list-title">تگ ها:</label>
                                            <ul class="view-tag-list">
                                              ${tags}
                                            </ul>
                                        </div>
                                        <div class="view-list-group">
                                            <label class="view-list-title">اشتراک:</label>
                                            <ul class="view-share-list">
                                                <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                                <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                                <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                                <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                                            </ul>
                                        </div>
                                        <div class="view-add-group">
                                            <button class="product-add" title="افزودن به سبد خرید">
                                                <i class="fas fa-shopping-basket"></i>
                                                <span>افزودن به سبد خرید</span>
                                            </button>
                                            <div class="product-action">
                                                <button class="action-minus" title="کم کردن"><i class="icofont-minus"></i></button>
                                                <input class="action-input" title="تعداد مورد نیاز" type="text" name="quantity" value="1">
                                                <button class="action-plus" title="زیاد کردن"><i class="icofont-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="view-action-group">
                                            <a class="view-wish wish" href="#" title="افزودن به لیست علاقه مندی ها">
                                                <i class="icofont-heart"></i>
                                                <span>افزودن به علاقه مندی</span>
                                            </a>
                                            <a class="view-compare" href="compare.html" title="مقایسه با دگر محصولات">
                                                <i class="fas fa-random"></i>
                                                <span>مقایسه کن</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>`;
                      
                        $("#product-detail-modal").html(html);
                        $("#product-view").modal('show');
                        $('.preview-slider').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: true,
                            fade: true,
                            rtl: true,
                            asNavFor: '.thumb-slider',
                            prevArrow: '<i class="icofont-arrow-right dandik"></i>',
                            nextArrow: '<i class="icofont-arrow-left bamdik"></i>',
                            responsive: [
                                {
                                    breakpoint: 576,
                                    settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1,
                                        arrows: true,
                                    }
                                }
                            ]
                        });

                        $('.thumb-slider').slick({
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            asNavFor: '.preview-slider',
                            rtl: true,
                            dots: false,
                            arrows: false,
                            centerMode: true,
                            focusOnSelect: true,
                            responsive: [
                                {
                                    breakpoint: 992,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 1,
                                    }
                                },
                                {
                                    breakpoint: 768,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 1,
                                    }
                                },
                                {
                                    breakpoint: 576,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 1,
                                    }
                                },
                                {
                                    breakpoint: 400,
                                    settings: {
                                        slidesToShow: 2,
                                        slidesToScroll: 1,
                                    }
                                }
                            ]
                        });
                    }
                },
                function (error) {
                    console.log(error);
                }
            )
        }
        //Loading
        let loading =`<div class="intro-y col-span-12 sm:col-span-12 md:col-span-12 2xl:col-span-12">
                            <div class="col-span-12 sm:col-span-12 xl:col-span-12 flex flex-col justify-end items-center">
                                <svg width="30" viewBox = "0 0 45 45" xmlns = "http://www.w3.org/2000/svg" stroke = "rgb(45, 55, 72)" class="w-8 h-8">
                                    <g fill="none" fill - rule="evenodd" transform = "translate(1 1)" stroke - width="3">
                                        <circle cx="22" cy = "22" r = "6" stroke - opacity="0">
                                            <animate attributeName="r" begin = "1.5s" dur = "3s" values = "6;22" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                <animate attributeName = "stroke-opacity" begin = "1.5s" dur = "3s" values = "1;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                    <animate attributeName = "stroke-width" begin = "1.5s" dur = "3s" values = "2;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                        </circle>
                                                        <circle cx = "22" cy = "22" r = "6" stroke - opacity="0">
                                                            <animate attributeName="r" begin = "3s" dur = "3s" values = "6;22" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                                <animate attributeName = "stroke-opacity" begin = "3s" dur = "3s" values = "1;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                                    <animate attributeName = "stroke-width" begin = "3s" dur = "3s" values = "2;0" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                                        </circle>
                                                                        <circle cx = "22" cy = "22" r = "8">
                                                                            <animate attributeName="r" begin = "0s" dur = "1.5s" values = "6;1;2;3;4;5;6" calcMode = "linear" repeatCount = "indefinite"> </animate>
                                                                                </circle>
                                                                                </g>
                                                                                </svg>
                                                                                <div class="text-center text-xs mt-2" > لطفا منتظر بمانید...</div>
                                                                                    </div>
                                                                                    </div>`;
    </script>
}


