@using Store.Application.Services.UsersAddress.Queries.GetAddressUserForSite;
@model List<UserAddressDto>
@{
    string ActiveClass = "";
    Layout = null;
}
    <div class="account-content">
        <div class="row">
            @foreach (var item in Model)
              {
            if(item.Acitve)
            {
                ActiveClass = "active";
            }
            <div class="col-md-6 col-lg-4  alert fade show">
                <div class="profile-card  contact @ActiveClass">
                            <h6>خانه</h6>
                            <p>آدرس:@item.Address</p>
                            <p>شهر:@item.City</p>
                            <p>کد پستی: @item.PostalCode</p>
                            <p>شماره تماس: @item.PhoneNumber</p>
                            <ul class="user-action">
                            <li><button id="show-edit"  onclick="GetEditAddressUserProvince('@item.Id','@item.Province')" class="edit icofont-edit" title="ویرایش"></button></li>
                            <li><button onclick="RemoveAddressUser('@item.Id')" class="trash icofont-ui-delete" title="حذف" data-bs-dismiss="alert"></button></li>
                            </ul>
                        </div>
            </div>
            }
        </div>
    </div>
<!-- address add form -->
<div class="modal fade" id="address-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form" id="frm-add-address">
                <div class="form-title">
                    <h3>افزودن آدرس جدید</h3>
                </div>
                <div class="form-group">
                    @await Component.InvokeAsync("Province")
                </div>
                <div class="city-component-container">
                    @await Component.InvokeAsync("City")
                </div>
                <div class="form-group">
                    <label class="form-label">شماره تماس</label>
                    <input required id="phone-number-user" class="form-control" placeholder="شماره تماس خود را وارد کنید" type="number">
                </div>
                <div class="form-group">
                    <label class="form-label">کد پستی</label>
                    <input required id="postalcode" class="form-control" placeholder="کد پستی خود را وارد کنید" type="number">
                </div>
                <div class="form-group">
                    <label class="form-label">آدرس</label>
                    <textarea required id="address-user" class="form-control" placeholder="آدرس خود را وارد کنید"></textarea>
                </div>
                <button id="CreateAddress" class="form-btn">ذخیره آدرس جدید</button>
            </form>
            <div class="form-group">
            </div>
        </div>
    </div>
</div>

